.Notifications {
    background-color: white;
    border: 2px dashed #e41d3e;
    padding: 1rem;
    color: #121212;
    float: right;
}

[data-notification-type='default'] {
    color: blue;
}

[data-notification-type='urgent'] {
    color: red;
}

.menuItem {
    text-align: right;
    margin-right: 1rem;
}

.Notifications button {
    z-index: 9999;
}