#CourseList {
    margin: auto;
    margin-top: 15rem;
    width:90%;
    padding: 0.2;
    border:2px solid #e0e0e0;
}

#CourseList th[colspan='2'] {
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    font-size: 1.2rem;
}

#CourseList th {
    text-align: left;
    border-bottom: 2px solid #e0e0e0;
    font-size: 1.2rem;
}

th, td {
    padding: 0.5rem;
    text-align: left;
  }