.header {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    width: 100%;
    position: fixed;
}

.header-logo {
    width: 180px;
    height: 180px;
    pointer-events: none;
}
